<div class="header row">
    <div class="col-sm-12">
        <img src="http://static.cdnconnect.com/logos/oauth-2.png" style="float: left; width:124px; height:123px;margin: 0 1.5em 1.5em 0;">
        <h1>OAuth 2.0 Browser</h1>
        <h2 style="font-size: 150%;">Browse authentication providers and see some of your data they own.</h2>
    </div>
</div>


<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default provider-list">
            <div class="panel-heading">OAuth2 Providers</div>
            <div class="list-group">
                <% apis.forEach(function(api) { %>
                    <a href="javascript:void(0)" class="list-group-item" data-key="<%-api.id%>">
                        <%- api.get( 'name')%>
                    </a>
                    <% }); %>
            </div>
        </div>
    </div>
    <div class="col-sm-8 social-buttons-details"></div>
</div>
