.social-buttons {
    .social-buttons-profile {
        .btn-login {
            width: 20em;
            text-align: left;
            i.fa {
                border-right: 1px solid;
                padding-right: 0.5em;
                margin-right: .5em;
                width: 1.5em;
            }
        }

        .btn-logout {
            .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
        }

        .profile-view .image {
            text-align: right;
        }

        .panel-footer {
            min-height: 2.8em;
            line-height: 1.2em;
            small {
                font-style: italic;
            }
            [class^=col] small {
                display: block;
                margin-top: .6em;
                margin-bottom: .6em;
            }
        }
    }
}
